body{
    font-family: serif;
}

.active{
    background-color:#6eb7ff;
    width: max-content;
    padding: 10px 50px; 
    border-radius: 15px;
}

.navbar{
    margin-bottom: 5%;
    position: sticky !important;
}


.nav-link{
    margin: 5px 5px;
}

.container{
    margin-top: 5%;
    margin: auto;
}

.tocenter{
    width: 35%;
    margin-top: 5%;
}

.error-message{
    color:red;
    font-size: xx-small;
}


