body{
    font-family: serif;
}

.active{
    background-color:#6eb7ff;
    border-radius: 15px;
    width:max-content;
    padding: 10px 50px;
    
}

.navbar{
    margin-bottom: 5%;
    position:relative;
}

.nav-link{
    margin: 5px 5px;
}

.container{
    margin-top: 5%;
    margin: auto;
}

.tocenter{
    width: 35%;
    margin-top: 5%;
}

.error-message{
    color:red;
    font-size: xx-small;
}


